body {
    padding-top: 60px;
    background-color: #cbd9ea;
}

.card{
    box-shadow: 3px  6px 8px 3px  rgba(100, 100, 100, 0.3);
}

textarea.form-control{
    resize: none;
}

iframe#maps-google {
    width: 100%;
    height: 500px;
}

/* Medias Querys */

@media(max-width:900px){
   
    .google-map{
        display: none;

    }
 
}

/*  */

form, .alert{
    margin-bottom: 0;
}

#nome:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid green;
    outline: 0;

}

#email:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid green;
    outline: 0;

}

#mensagem:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid green;
    outline:auto;

}